.card-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden-container{
    display: none !important;
}
.card-container p{
     font-size: 14px;
     font-weight: 400;
}
.none{
    display: none;
}


